body {
    background-color: var(--tg-theme-bg-color);
    display: flex;
	flex-direction: column;
	align-items: center;
}

.greeting{
    font-family: 'Arial';
    text-align: center;
    color: var(--tg-theme-text-color);
}

.first_paragraph{
    font-family: 'Arial';
    color: var(--tg-theme-text-color);
}