body {
    background-color: bisque;
}

.greeting {
    font-family: 'Century Gothic';
    text-align: center;
    font-size: 100px;
}

.first_paragraph {
    font-family: 'Century Gothic';
    font-size: 40px;
}